/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    background: #fafafa;
    font-family: 'Poppins'
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #232941;
    color: #fff;
    transition: all 0.3s;
    font-weight: 500
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 20px 40px 20px;
    background: #232941;
}

.avatar h5 {
    font-weight: 600
}

#sidebar ul.components {
    padding: 20px 20px;
    border-bottom: 1px solid #47748b;
    margin-left: 20px;
    margin-right: 20px;
}

#sidebar ul p {
    color: red;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 10px;
}

#sidebar ul li a:hover {
    color: #232941;
    background: #FDC834;
    font-weight: 600
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #232941;
    background: #FDC834;
    font-weight: 600
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.CTAs li {
    padding: 5px 20px 20px 20px;
    background: transparent !important;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px
}

.CTAs li a {
    text-align: center;
    font-size: 18px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.CTAs li a:hover {
    background: transparent !important;
    color: #FDC834 !important
 }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#page-content {
    width: 100%;
    padding: 19px 30px 30px 30px;
    min-height: 100vh;
    transition: all 0.3s;/*
    background-image: url('img/bg-content.svg');
    background-position: center;
    background-size: cover;*/
}

.btn-toggle-dashboard{
    background-color: #232941;
    color: #FDC834
}

.nav-content .nav-link {
    font-size: 18px
}

.content h2 {
    font-weight: 600
}

.content p {
    line-height: 26px
}

.list-test {
    background-color: #242843;
    color: #FDC834;
    border-radius: 10px;
}

.menu-test h5 {
    font-size: 19px;
    padding-top: 17px;
}

.menu-test p {
    font-weight: 500;
    padding-top: 15px;
}

.btn-start {
    background-color: #FDC834;
    color: #232941;
    border-radius: 10px 0px 10px 0px;
    margin-right: -2px;
}

.btn-start:hover {
    color: #242843
}

@media (max-width: 400px) {
  .menu-test h5 {
    font-size: 16px;
    padding-top: 18px;
  }
}

/* .avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: .375rem;
    align-items: center;
    justify-content: center;
}

.rounded-circle, .avatar.rounded-circle img {
    border-radius: 50% !important;
} */

.btn-toggle-dashboard {
    background-color: #232941;
    color: #FDC834;
}