/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    background: #fafafa;
    font-family: 'Poppins'
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.sort-bar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.sort-bar .active {
    background-color: #232941;
    color: #FDC834
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #232941;
    color: #fff;
    transition: all 0.3s;
    font-weight: 500
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 20px 40px 20px;
    background: #232941;
}

.avatar h5 {
    font-weight: 600
}

#sidebar ul.components {
    padding: 20px 20px;
    border-bottom: 1px solid #47748b;
    margin-left: 20px;
    margin-right: 20px;
}

#sidebar ul p {
    color: red;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 10px;
}

#sidebar ul li a:hover {
    color: #232941;
    background: #FDC834;
    font-weight: 600
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #232941;
    background: #FDC834;
    font-weight: 600
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.CTAs li {
    padding: 5px 20px 20px 20px;
    background: transparent !important;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px
}

.CTAs li a {
    text-align: center;
    font-size: 18px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.CTAs li a:hover {
    background: transparent !important;
    color: #FDC834 !important
 }

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#page-content {
    width: 100%;
    padding: 19px 30px 30px 30px;
    min-height: 100vh;
    transition: all 0.3s;/*
    background-image: url('img/bg-content.svg');
    background-position: center;
    background-size: cover;*/
}

.btn-toggle-dashboard{
    background-color: #232941;
    color: #FDC834
}

.content .table th {
    font-size: 14px
}

.content .table td {
    font-size: 14px
}

.btn-eye {
    background-color: #232941;
    color: #FDC834
}