/*HOME PAGE*/


/*Awal Content*/
@media (max-width: 600px) {
	.page-header-home h2 {
		font-size: 30px !important
	}
}
/*Akhir Content*/

/*Awal Footer*/
.link-web-pipe p{
	color: #232941;
	font-weight: 500;
}

.footer p {
	font-weight: 500
}

.footer i {
	font-size: 25px;
}

.copyright {
	font-size: 16px;
}

.nav-footer {
	font-size: 14px;
	font-weight: 500
}

.nav-footer a:hover{
	color: #232941
}

@media (max-width: 420px) {
  .footer p {
	font-size: 14px !important
  }
}
/*Akhir Footer*/
/*HOME PAGE*/



/*-----------------------------------------------------*/
/*-----------------------------------------------------*/



/*TES IQ DAN PENJURUSAN GRATIS PAGE*/
.card-new p{
	font-size: 18px;
	font-weight: 500
}
@media (max-width: 991px) {
  .card-new {
    height:auto !important;
   }
}

@media (max-width: 500px) {
   .header-body h2{
	font-size: 30px !important
	}

	.header-body h5{
	font-size: 18px !important
	}

	.header-body p{
	font-size: 14px !important
	}
}
/*TES IQ DAN PENJURUSAN GRATIS PAGE



/*-----------------------------------------------------*/
/*-----------------------------------------------------*/



/*LOGIN PAGE*/
@media (max-width: 500px) {
  .header-body-login h1{
	font-size: 30px !important
   }

   .header-body-login p{
	font-size: 16px !important
   }
}
/*LOGIN PAGE